body {
    font-family: "DM Sans", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "nav nav"
    "side main";
    gap: 12px;
    padding: 20px;
    color: #303030;
}

html {
    font-size: 16px;
}
h1 {
    font-size: 2.2rem;
    margin:0;
}
h2 {
    font-size: 1.6rem;
    margin:0;
}
h3 {
    font-size: 1.3rem;
    margin:0;
}

p{
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 34px;
    top: 0;
    position: sticky;
    background-color: white;
}

.logo {
    min-width: 50px;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 30px;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    font-size: 0.8rem;
    color: gray;
}

.search-bar {
    width: 140px;
    height: 30px;
    border-radius: 16px;
    padding: 0 10px;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #B3B3B3;
}

.search-bar span{
    font-weight: 300;
}

.search-bar input {
    border: none;
    background: none;
    font-size: 0.8rem;
    width: 80%;
}

.search-bar input:focus {
    outline: none;
}

.search-bar:has(input:focus) {
    border: 1px solid #6F69D3;
    color: #6F69D3;
}

.date, .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}

.date span, .profile span{
    color: #B3B3B3;
    font-weight: 300;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.profile-name h3 {
    font-weight: 300;
    font-size: 1rem;
    color:#4f4f4f
}


.sidebar {
   display:flex;
   flex-direction: column;
   gap: 40px; 
   position: sticky;
   top: 70px;
   height: calc(98vh - 70px);
}

.sidebar-item{
    width: 46px;
    height: 46px;
    background-color: #F5F5F5;
    border-radius: 100%;
    color: #B3B3B3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-item span{
    font-weight: 300;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: #ededed;
}

.sidebar-item.active {
    background-color: #6F69D3;
    color: white;
}

.main {
    display: block;
    height: 100%;
}

.welcome-sign {
    font-size: 1.3rem;
    margin-bottom: 14px;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-auto-rows: 137px;
    grid-template-areas: 
    "card1 card2 card3 card4"
    "card5 card5 card6 card4"
    "card5 card5 card6 card7"
    "card5 card5 card6 card7"
    ;
    gap: 12px;
}

.card {
    background: #F5F5F5;
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    min-width: 140px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

#promedio {
    background: linear-gradient(90deg,#4655c8 0%, #8271c5 100%);
    color: white;
}

#dif-promedio {
    font-size: 0.8rem;
    display: flex;
    border-radius: 10px;
    height: 20px;
    width: 50px;
    background-color: #B9EECA;
    color:#4655c8;
    align-items: center;
    justify-content: center;
}

#dif-promedio span {
    font-size: 1rem;
}


#calendar {
    background: linear-gradient(90deg,#4655c8 0%, #8271c5 100%);
    padding: 0;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.to-do {
    display: flex;
    flex-direction: column;
}

.to-do ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 200px;
    overflow-y: scroll;
}


.to-do li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  background-color:#c4c4c4;
  border-radius: 4px;
  cursor: pointer;
}

.task[type="checkbox"]:checked {
  background-color: #303030;
  border-color:  #303030;
  color: white;
}

@media(max-width: 800px){
    body {
        overflow:scroll;
    }

    .card-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "card1 card2 card3"
        "card4 card4 card4"
        "card5 card5 card5"
        "card6 card6 card6"
        "card7 card7 card7";
    }
    
}

@media(max-width: 680px){
    body {
        overflow:scroll;
    }

    .card-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "card1 card2"
        "card3 card3"
        "card4 card4"
        "card5 card5"
        "card6 card6"
        "card7 card7";
    }
    
}

@media(max-width: 520px){
    body {
        overflow:scroll;
    }
    .card-grid{
        display: flex;
        flex-direction: column;
    }
    .card {
        height: 80px;
    }
    .date {
        display: none;
    }
}
